/*top----------------------*/
.top {
    background-color: #00BCBE;
    color: white;
}
.top small { color: beige; }

.top label { margin-top: 15px; }

.top p { margin-top: 15px; }

/*skill-------------------------*/

.skill {
    background-color: #EEEEEE;
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
}

.skill_el {
    /*margin-top: 15px;*/
    display: inline-block;
    margin: 25px;
}

/*exper-------------------*/

.exper {
    background-color: white;
    text-align: center;
}

.exper img {
    width: 80px;
    height: 80px;
}

/*footer*/

.footer {
    text-align: center;
    background-color: #00BCBE;
    color: beige;
    font-size: 14px;
}

.footer ul { margin-top: 25px; }

.footer li {

    height: 25px;
    line-height: 25px;
}

/*other--------------------*/

body {
    padding: 0px;
    margin: 0px;               
}

p {
    font-size: 14px;
    color: #666666;
}